@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Visualize e inscreva-se nos workshops que estão rolando no momento!</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This application consists of angular {{33 + 55}} :</h2>        
    </div>
    <div class="col-md-4">
        <h2>Próximos workshops</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add Controllers and Views</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398602">Add Data using EntityFramework</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398603">Add Authentication using Identity</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398606">Add real time support using SignalR</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398604">Add Class library</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517848">Add client packages using Bower</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517849">Manage client packages using Grunt</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517850">Develop on different platforms</a></li>
        </ul>
    </div>
    <div class="col-md-4">        
    </div>
</div>